@model HomeVW
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            @foreach (var item in Model.Sliders)
        {
            <div class="hero__items set-bg" data-setbg="/assets/img/hero/@item.ImgUrl">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>@item.Header</h6>
                                <h2>@item.Title</h2>
                                <p>@item.Description</p>
                                <a asp-controller="shop" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                                    <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    @*<section class="banner spad">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Banners)
            {
                <div class="col-lg-7 offset-lg-4">
                    <div class="banner__item">
                        <div class="banner__item__pic">
                            <img src="~/assets/img/banner/@item.ImgUrl" alt="">
                        </div>
                        <div class="banner__item__text">
                            <h2>@item.Name</h2>
                            <a asp-controller="shop">Shop now</a>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </section>*@
    <!-- Banner Section End -->

<section class="latest spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 style="font-weight:bold">Recently viewed</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var product in Model.UserActivities.Take(3))
            {
                @*<div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/assets/img/product/@product.Images.FirstOrDefault().ImgUrl">
                            <span class="label">New</span>
                            <ul class="product__hover">
                                <li><a href="~/assets/#"><img src="~/assets/img/icon/heart.png" alt=""></a></li>
                                <li><a href="~/assets/#"><img src="~/assets/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="~/assets/#"><img src="~/assets/img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>@product.Name</h6>
                            <a href="~/assets/#" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                @for (int i = 0; i < product.ProductRating; i++)
                                {
                                    <i class="fa fa-star-o"></i>
                                }
                            </div>
                            <h5>$@product.Price</h5>
                            <div class="product__color__select">
                                <label for="pc-1">
                                    <input type="radio" id="pc-1">
                                </label>
                                <label class="active black" for="pc-2">
                                    <input type="radio" id="pc-2">
                                </label>
                                <label class="grey" for="pc-3">
                                    <input type="radio" id="pc-3">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>*@
                <div class="product col-3 swiper-slide">
                    <a asp-controller="shop" asp-action="product" asp-route-id="@product.Id">
                        <div class="product-img d-flex justify-content-center mt-5 mb-4">
                            <img class="img-fluid w-100"
                             src="~/assets/img/product/@product.Images.FirstOrDefault().ImgUrl"
                             alt="">
                        </div>
                        <div class="product-name">
                            <p class="text-center fw-bold text-dark mb-4">@product.Name</p>
                        </div>
                        <div class="product-price d-flex justify-content-between">
                            <div class="discount">
                                @if (!product.InDiscount)
                                {
                                    <span style="text-decoration:line-through solid red;font-weight:normal"
                                  class="text-dark">
                                        <small class="azn_span text-dark">$</small> 1999.99
                                    </span>
                                    <br>
                                    <span class="nprice text-danger fw-bold" id="price-1060446">
                                        <small class="azn_span fw-normal">$</small> 1849.99
                                    </span>
                                }
                                else
                                {
                                                                        <span style="text-decoration:line-through solid red;font-weight:normal"
                                  class="text-dark">
                                       <small class="azn_span text-dark">$</small> 1999.99 
                                    </span>
                                }
                                
                            </div>
                            <a class="btn-add-to-cart mt-2 border-0 text-light" data-id="@product.Id" id="minusIcon"
                                style="background-color: black; font-size: 14px; font-weight: bold; padding: 5px 13px; border-radius: 3px; cursor:pointer;">
                                Add Basket
                            </a>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <h2 style="font-weight:bold; margin-bottom:30px;">Best Sellers</h2>
                </div>
            </div>
            <div class="row product__filter">
                @foreach (var product in Model.Products.Where(p => p.ProductRating > 3))
                {
                    <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="/assets/img/product/@product.Images.FirstOrDefault().ImgUrl">
                            <span class="label">New</span>
                            <ul class="product__hover">
                                <li><a href="~/assets/#"><img src="~/assets/img/icon/heart.png" alt=""></a></li>
                                <li><a href="~/assets/#"><img src="~/assets/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="~/assets/#"><img src="~/assets/img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>@product.Name</h6>
                            <a href="~/assets/#" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                @for (int i = 0; i < product.ProductRating; i++)
                                {
                                    <i class="fa fa-star-o"></i>
                                }
                            </div>
                            <h5>$@product.Price</h5>
                            <div class="product__color__select">
                                <label for="pc-1">
                                    <input type="radio" id="pc-1">
                                </label>
                                <label class="active black" for="pc-2">
                                    <input type="radio" id="pc-2">
                                </label>
                                <label class="grey" for="pc-3">
                                    <input type="radio" id="pc-3">
                                </label>
                            </div>
                        </div>
                    </div>
                    </div>
                }
                
                @*<div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="~/asstes/img/product/product-2.jpg">
                            <ul class="product__hover">
                                <li><a href="~/assets/#"><img src="~/assets/img/icon/heart.png" alt=""></a></li>
                                <li><a href="~/assets/#"><img src="~/assets/img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="~/assets/#"><img src="~/assets/img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6>Piqué Biker Jacket</h6>
                            <a href="~/assets/#" class="add-cart">+ Add To Cart</a>
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>$67.24</h5>
                            <div class="product__color__select">
                                <label for="pc-4">
                                    <input type="radio" id="pc-4">
                                </label>
                                <label class="active black" for="pc-5">
                                    <input type="radio" id="pc-5">
                                </label>
                                <label class="grey" for="pc-6">
                                    <input type="radio" id="pc-6">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </section>
    <!-- Product Section End -->

    <!-- Categories Section Begin -->
    <section class="categories spad">
        <div class="container">
            <div class="row">
                @if (Model.DayOfDiscount != null)
                {
                    <div class="col-lg-4">
                    <div class="categories__hot__deal">
                        <img src="img/product-sale.png" alt="">
                        <div class="hot__deal__sticker">
                            <span>Sale Of</span>
                            <h5>$@Model.DayOfDiscount.DiscountPrice</h5>
                        </div>
                    </div>
                </div>
                    <div class="col-lg-4 offset-lg-1">
                    <div class="categories__deal__countdown">
                        <span>Deal Of The Week</span>
                        <h2>@Model.DayOfDiscount.Name</h2>
                        <div class="categories__deal__countdown__timer" id="countdown">
                            <div class="cd-item">
                                <span id="hourArea">1</span>
                                <p>Hours</p>
                            </div>
                            <div class="cd-item">
                                <span id="minuteArea" cl>50</span>
                                <p>Minutes</p>
                            </div>
                            <div class="cd-item">
                                <span id="secondArea">18</span>
                                <p>Seconds</p>
                            </div>
                        </div>
                        <a href="#" class="primary-btn">Shop now</a>
                    </div>
                </div>
                }
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Instagram Section Begin -->
@*    <section class="instagram spad">
        <div class="container">
           @foreach (var item in Model.SocialMedias)
           {
            <div class="row">
                <div class="col-lg-8">
                    <div class="instagram__pic">
                        @foreach (var img in item.ImgUrls)
                        {
                            <div class="instagram__pic__item set-bg" data-setbg="/asstes/img/instagram/@img.ImgUrl"></div>
                        }
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="instagram__text">
                        <h2>@item.Name</h2>
                        <p>
                            @item.Desciption
                        </p>
                        <h3>#@item.Tag</h3>
                    </div>
                </div>
            </div>
        }
        </div>
    </section>
*@    <!-- Instagram Section End -->

    <!-- Latest Blog Section Begin -->
    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Latest Added Blogs</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model.Blogs.Take(3)){
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic set-bg" data-setbg="/assets/img/blog/@item.ImgUrl"></div>
                            <div class="blog__item__text">
                                <span><img src="~/assets/img/icon/calendar.png" alt=""> @item.CreationDate</span>
                                <h5>@item.Name</h5>
                                <a asp-controller="blog" asp-action="detail" asp-route-id="@item.Id">Read More</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <!-- Latest Blog Section End -->
    <script>
        function startCountdown(finishDate) {
            var countDownDate = new Date(finishDate).getTime();
            Counter(countDownDate);
        }

        function Counter(countDownDate, num) {

            clearInterval(myInterval);

            myInterval = setInterval(function () {
            var now = new Date().getTime();
            var distance = countDownDate - now;

            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            if (minutes < 10) {
                minutes = "0" + minutes;
            }
            if (hours < 10) {
                hours = "0" + hours;
            }
            if (seconds < 10) {
                seconds = "0" + seconds;
            }


            document.getElementById("hourArea").innerHTML = hours;
            document.getElementById("minuteArea").innerHTML = minutes;
            document.getElementById("secondArea").innerHTML = seconds;

        }, 1000);


    }
    </script>